.chat-main
  .chat-main__group-info
    .chat-main__group-info_left-box 
      %h2.chat-main__group-info-name
        test
      %ul.chat-main__group-info-member-list
        Member : ユーザーネーム
    .chat-main__group-info_edit-btn
      = link_to "Edit","#"

  .chat-main__message-list
    .chat-main__message-list-info
      .chat-main__message-data
      %p.chat-main__message-list-info-name
        test
      %p.chat-main__message-list-info-time
        2020/06/03(Wed) 20:07:27
    %p.chast-main__message-list-info-comments
      ok
  .chat-main__message-form
    .chat-main__new-message
      .input-box
        %input{type: "text",class: "input-box__text",placeholder: "type a message"}
        %label{class: "input-box__image"} 
          = icon('fas','image')
          %input{type: "file",class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}