* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  
  .side-bar{
    background-color: #253141;
    // height: 100vh;
    width: 300px;
    // float: left;
    &__user-name{
      background-color: #253141;
      padding: 0 20px;
      height: 100px;
      width: 300px;
      .side-box{
        height: 100px;
        align-items: center;
        display: flex;
        color: white;
        justify-content: space-between;
        width: 100%;
        font-weight: bold;
        &__menu{
          display: flex;
          li{
            margin-left: 5px;
            a{
              color: white;
            }
          }
        }  
      }
    }
    &__group-list{
      padding: 20px 20px 0;
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      width: 300px;
      color: white;
      overflow: scroll;
      a{
        font-size: 12px;
        color: white;
        text-decoration: none;
      }
    }
    .group{
      margin-bottom: 40px;
    }
    &__group-name{
      font-size: 15px;
      color: white;
    }
    &__group-message{
      font-size: 11px;
      color: white;
    }
    
 }

  .chat-main{
    width: calc(100vw - 300px);
    float: left;
    &__group-info{
      display: flex;
      // background-color: #eeeeee;
      height: 100px;
      border-bottom: solid 1px #eee;
      &_left-box{
      margin-top: 35px;
      padding: 0 40px;
      color: #333333;
      }
      &-name{
      font-size: 20px;
      color: #333;
      font-weight: normal;
      margin-bottom: 15px;
      }
      &-member-list{
      font-size: 12px; 
      overflow: scroll;
      }
      a{
        text-decoration: none;
        color:#38aef0;
      }
      &_edit-btn{
        display: flex;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
      }
    }
    
    &__message-list{
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 46px 40px;
      overflow: scroll;
    }
    .message{
    padding-bottom: 40px;
    }
    .upper-message{
    display: flex;
    margin-bottom: 10px;
    }
    .upper-message__user-name{
    color: #434a54;
    font-size: 16px;
    font-weight: bold;
    }

    .upper-message__date{
    color: #999999;
    font-size: 12px;
    margin-left: 10px;
    }
    .lower-message{
    color: #434a54;
    font-size: 14px;
    }
    
      &__message-form{
      // display: flex;
      background-color: #d2d2d2;
      height: 90px;
      padding: 20px 40px;
      
      .new_message{
      display: flex;
       width: 100%;
      position: relative;
      }
        &__new-message{
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
        }
           .chat-main__message-form__input-box__image{
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 125px;
            cursor: pointer;
           }
            .icon{
              display: inline-block;
            }
            .hidden{
              display: none;
            }
          
        
      .chat-main__message-form__submit{
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
   }
 }

